name: build

on:
  push:
    # branches:
    # - 'main'
    # NOTE: pull_request tests a potential merge conflict. push builds the branch as it would build main. Both serve separate purposes.
    # Especially when working with CI changes, we may want to see both, hence not limiting builds to the main branch.
  pull_request:
  workflow_dispatch:

# This ensures that jobs get canceled when force-pushing
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        appimage_arch: [x86_64, aarch64]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - run: >-
        bazel build //:runtime
        --platforms @toolchains_llvm_bootstrapped//platforms/libc_aware:linux_${{ matrix.appimage_arch }}_musl
    - uses: actions/upload-artifact@v4
      with:
        name: runtime_${{ matrix.appimage_arch }}
        path: bazel-bin/runtime